.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(202, 202, 202);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}
.library-song {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
  align-items: center;
  cursor: pointer;
  img {
    width: 30%;
  }
  &:hover {
    background: rgb(173, 199, 186);
  }
}

.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5);
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background-color: rgb(166, 194, 255);
}
