* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}
body {
  font-family: "Lato", sans-serif;
}
h3,
h4 {
  font-weight: 700;
  color: rgb(100, 100, 100);
}

@import "./nav";
@import "./song";
@import "./player";
@import "./library";
